<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        {{ css }}
    </style>    
    <title>Создание бронирования</title>
</head>
<body>
    <h1>ПРОЩЕ</h1>
    <p>Мы получили запрос на <div class="qaz">бронирование {{ platformName }}</div></p>
    <img src="cid:booking" alt="createBooking" class="img">

    <p><div class="qaz">Дата: </div>{{ date }}</p>
    <p><div class="qaz">Время: </div>{{ startTime }} - {{ endTime }}</p>                                  
    <div>
        <h3 style="margin-bottom: 0px;">Если у Вас по-прежнему возникают проблемы со входом в учетную запись, <def class="qaz">свяжитесь с нами.</def></h3>
    </div>
    <p class="skrito">Если вы считаете, что данное сообщение послано вам ошибочно, просто проигнорируйте его и все данные будут автоматически удалены.</p>
</body>
</html>